.zygoteLoadAnim {
  margin: 75px auto;
  width: 90px;
  text-align: center;
}
.zygoteLoadAnim > div {
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
  animation: zygote-bouncedelay 1.4s infinite ease-in-out both;
}
.zygoteLoadAnim > div:nth-of-type(1) {
  animation-delay: -0.32s;
}
.zygoteLoadAnim > div:nth-of-type(2) {
  animation-delay: -0.16s;
}
.zygoteLoadAnim > div:nth-of-type {
  margin-right: 0;
}

@keyframes zygote-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
