
@media(min-width: 900px){
	.zygoteSection{
		padding: 20px;
		border-right: 1px solid var(--lightColor);
		border-bottom: none;
		float: left;
		width: calc(100% / 3);
		border-top: 1px solid var(--lightColor);
	}
	.zygoteStep3{
		& >div:nth-of-type(4),
		& >div:nth-of-type(5){
			width: 50%;
		}
		& >div:nth-of-type(5){
			border-right: 0;
		}
	}
}
