.zygoteInputMsg{
	display: none;
	color: var(--foregroundColor);
	margin-bottom: 20px;
	margin-top: 3px;
	font-size: .9em;
	color: #f00;
}
.zygoteInputErr{
	& input,
	& input:focus,
	& select,
	& select:focus{
		border: 1px solid #f00;
		background-color: rgba(255, 0, 0, .1);
		margin-bottom: 0;
	}
	& .zygoteInputMsg{
		display: block;
	}
}
