.zygoteMsgs{
	display: none;
	list-style-type: none;
	padding: 20px;
	margin: 0;
	&.zygoteShow{
		display: block;
	}
	& > li{
		padding: 7px 10px;
		margin-bottom: 15px;
	}
	& > li:last-of-type{
		margin-bottom: 0;
	}
}
.zygoteMsg{
	border: 1px solid #0f0;
	background-color: rgba(0, 255, 0, .1);
}
.zygoteErr{
	border: 1px solid #f00;
	background-color: rgba(255, 0, 0, .1);
}
