
.zygoteStep2, .zygoteStep3{
	margin: 0 -20px;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	& > div{
		&:last-of-type{
			border-bottom: none;
			border-right: none;
		}
	}
}
.zygoteStep{
	display: none;
	padding: 20px 0;
	&.zygoteActive{
		display: block;
	}
}

.zygoteOn5{
	& .zygoteStepBtns{
		display: none;
	}
	& .zygoteProdDelete,
	& .zygoteDecrease,
	& .zygoteIncrease,
	& .zygoteProdHeader li:last-of-type{
		display: none;
	}
	& .zygoteProdPrice{
		float: right;
		text-align: right;
	}
	& .zygoteProdHeader li:nth-of-type(2){
		float: right;
		width: auto;
	}
}

.zygoteOn1{
	& .zygoteNext{
		margin-top: 0;
	}
	& .zygotePrev{
		display: none;
	}
}
.zygoteNext{
	margin-top: 20px;
}

@media(min-width:900px){
	.zygoteShowTabs.zygoteOn5{
		& .zygoteTabs{
			display: none;
		}
	}
}
