:root{
	--cartWidth: 900px;
}

.zygoteContainer{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	& *, & *:before, & *:after{
		box-sizing: inherit;
	}
}
.zygoteOpen{
	& .zygoteContainer{
		display: block;
	}
}
.zygoteModal{
	background-color: #fff;
	max-width: var(--cartWidth);
	margin: 0 auto;
	position: relative;
}
.zygoteProdList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.zygoteProd{
	position: relative;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	&:last-of-type{
		margin-bottom: 0;
		border-bottom: 0;
	}
}
.zygoteProdHeader{
	display: none;
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: .8em;
	& li{
		float: left;
		&:nth-of-type(1){
			width: 576px;
		}
		&:nth-of-type(2){
			width: 131px;
		}
		&:last-of-type{
			float: right;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

/* First column */
.zygoteProdImg{
	display: none;
	& a{
		display: block;
		width: 150px;
		height: 150px;
		overflow: hidden;
	}
	& img{
		width: 150px;
	}
}

/* Second column */
.zygoteProdName{
	margin-bottom: 15px;
	& a{
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}
	& div{
		margin-top: 5px;
		font-size: .9em;
	}
}

/* Third column */
.zygoteProdQty{
	user-select: none;
	float: left;
	& > div{
		& > div{
			display: inline-block;
			line-height: 17px;
			width: 19px;
			height: 19px;
			text-align: center;
		}
	}
}
.zygoteIncrease, .zygoteDecrease{
	font-weight: normal;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	width: 19px;
	height: 19px;
	line-height: 17px;
	font-size: .9em;
	border-radius: 100%;
}

/* Fourth column */
.zygoteProdPrice{
	font-weight: bold;
	float: right;
}

/* Fifth column */
.zygoteProdDelete{
	user-select: none;
	font-size: 1.5em;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}
.zygoteProdX{
	cursor: pointer;
	line-height: 14px;
}

.zygoteHeader, .zygoteForm{
	padding: 20px;
}
.zygoteHeader{
	background-color: #ccc;
}
.zygoteClose{
	user-select: none;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 2em;
}
.zygoteEmpty{
	text-align: center;
	margin: 30px 0;
}
.zygoteNotEmpty{
	& .zygoteEmpty{
		display: none;
	}
	& .zygoteStepBtn{
		display: block;
	}
}

.zygoteIco{
	user-select: none;
	cursor: pointer;
}

/* In case user changes parent font family */
.zygoteProdX, .zygoteClose{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


.zygoteBtn{
	background-color: #000;
	color: #fff;
	padding: 13px 20px;
	min-width: 120px;
	text-align: center;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
}
.zygoteStepBtn{
	text-align: right;
	display: none;
	& .zygoteBtn{
		width: 100%;
	}
}

.zygoteStep{
	display: none;
}
.zygoteOnOne{
	& .zygoteStepOne{
		display: block;
	}
}


@media(min-width: 900px){
	.zygoteProd{
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.zygoteModal{
		top: 30px;
	}
	.zygoteStepBtn{
		& .zygoteBtn{
			width: auto;
		}
	}

	.zygoteNotEmpty{
		& .zygoteProdHeader{
			display: block;
		}
	}

	.zygoteProdImg{
		display: block;
	}

	.zygoteProdName{
		width: 400px;
		margin-bottom: 0;
		& > div{
			padding-left: 20px;
			right: 0;
			left: 0;
		}
	}

	.zygoteProdQty, .zygoteProdPrice{
		width: 120px;
		text-align: center;
		& > div{
			width: 100%;
		}
	}

	.zygoteProdDelete{
		float: right;
	}
	.zygoteProdX{
		width: 100%;
	}

	.zygoteProdName, .zygoteProdQty, .zygoteProdPrice{
		float: left
	}
	.zygoteProdDelete{
		width: 20px;
	}

	.zygoteProdImg, .zygoteProdName, .zygoteProdQty, .zygoteProdPrice{
		float: left;
	}

	.zygoteProdName, .zygoteProdQty, .zygoteProdPrice, .zygoteProdDelete{
		height: 150px;
		position: relative;
		& > div{
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

}
