.zygoteContainer{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: none;
	&.zygoteOpen{
		display: block;
	}
}

.zygoteModal{
	background-color: #fff;
	max-width: 900px;
	margin: 30px auto;
	position: relative;
}
.zygoteProdList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.zygoteHeader, .zygoteForm{
	padding: 20px;
}
.zygoteHeader{
	background-color: #ccc;
}
.zygoteClose{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.zygoteEmpty{
	text-align: center;
}
.zygoteNotEmpty .zygoteEmpty{
	display: none;
}
