doctype html
html
	head
		title Zygote Test
		link(type='text/css' rel='stylesheet' href='zygote.css')
	body
		button(data-price='2.50' data-id='AS123') Add to Cart
		div This is a test
		script(src='zygote.js')
