doctype html
html
	head
		title Zygote Test
		link(type='text/css' rel='stylesheet' href='zygote.css')
	body
		div
			button(data-price='2.50' data-id='AS123' data-name='Product A' data-url='http://localhost:8080/' data-img='https://via.placeholder.com/150x150' data-open-cart data-desc='Another short product description.') Product A
			
			button(data-price='4.75' data-id='BX321' data-name='Product B' data-url='http://localhost:8080/' data-img='https://via.placeholder.com/150x150' data-open-cart data-desc='Short product description.') Product B
		div.zygoteIco Open Cart <span class="zygoteQty"></span>

		script(src='zygote.js')
