doctype html
html
	head
		title Zygote Test
		link(type='text/css' rel='stylesheet' href='zygote.css')
	body
		button(data-price='2.50' data-id='AS123' data-name='Product A' data-url='http://localhost:8080/' data-img='http://via.placeholder.com/150x150' data-open-cart) Product A
		button(data-price='4.75' data-id='BX321' data-name='Product B' data-url='http://localhost:8080/' data-img='http://via.placeholder.com/150x150' data-open-cart) Product B

		script(src='zygote.js')
