doctype html
html
	head
		title Zygote Test
		link(type='text/css' rel='stylesheet' href='zygote-v1.css')
	body
		div
			button(data-price='2.50' data-id='t1265' data-name='Triumph' data-url='https://pingpong.comproduct/t1265' data-img='https://pingpong.com/img/product/t1265-0-s.jpg?1496431075' data-open-cart data-desc='Table tennis paddle.') Triumph
			
			button(data-price='4.75' data-id='t1570' data-name='Racket Cover' data-url='https://pingpong.comproduct/t1570' data-img='https://pingpong.com/img/product/t1570-0-s.jpg?1496431075' data-open-cart data-desc='Table tennis accessory.') Racket Cover
		div.zygoteIco Open Cart <span class="zygoteQty"></span>

		script(src='zygote-v1.js')
		script.
			//zygote.open()
			zygote.api = 'https://zygote-api-staging.herokuapp.com/v1'
			zygote.properties = { site: 'pingpong' }
